<h1> Activity 1- Palmers Penguins Data Analytics Project</h1>
<hr>
<h3>Analyst: Mery Rose Cablaida</h3>

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings("ignore")

<h3>Converting Dataset(s) into Data Frame</h3>
<h2>Requirements</h2>
<ul>
    <li>
        Name of Dataframe
    </li>
    <li>
        File Path
    </li>
    
</ul>

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h2>Descriptive Analytics</h2>

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h2>Checking for Null Values</h2>

In [5]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [6]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2>Filtering Column</h2>

In [7]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [8]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [9]:
penguins[penguins['species']=='Chinstrap']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [10]:
Adelie_df = penguins[penguins['species'] == 'Adelie']

In [11]:
Adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [12]:
Chinstrap_df = penguins[penguins['species'] == 'Chinstrap']

In [13]:
Chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [14]:
Gentoo_df = penguins[penguins['species'] == 'Gentoo']

In [15]:
Gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [16]:
Chinstrap_bdm = penguins[(penguins['species'] == 'Chinstrap') & (penguins['bill_depth_mm'] <= 20)]

In [17]:
Chinstrap_bdm

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h2>Filling Up Null Values</h2>

In [18]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [19]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [20]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [21]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [22]:
penguins['bill_depth_mm'].mean()

np.float64(17.151169590643274)

In [23]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [24]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [25]:
penguins['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [26]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [27]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [28]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [29]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [30]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [31]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [32]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [33]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h2>Changing the Data Type</h2>

penguins.info()

In [34]:
penguins['species']= penguins['species'].astype('category')
penguins['island']= penguins['island'].astype('category')
penguins['sex']= penguins['sex'].astype('category')
penguins['year']= penguins['year'].astype('category')

In [35]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
dtypes: category(4), float64(4)
memory usage: 12.7 KB

<h1>Explanatory Data Analytics</h1>
<hr>

<h3>Question #1</h3>
<h4>Which island has the most penguins?</h4>

In [36]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h3>Insight #1</h3>
<h4>The island with the most penguins recorded is Biscoe.</h4>

<h3>Question #2</h3>
<h4>Which year had the most recorded penguins?</h4>

In [37]:
penguins['year'].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

<h3>Insight #2</h3>
<h4>The year with the most recorded penguins is 2009.</h4>

<h3>Question #3</h3>
<h4>What is the minimum body mass recorded?</h4>

In [38]:
penguins['body_mass_g'].min()

np.float64(2700.0)

<h3>Insight #3</h3>
<h4>This could indicate a smaller penguin or possibly a younger one.</h4>

<h3>Question #4</h3>
<h4>What percentage of the dataset are male penguins?</h4>

In [39]:
round((penguins['sex'] == 'male').mean() * 100 , 2)

np.float64(52.03)

<h3>Insight #4</h3>
<h4>The dataset has almost equal representation of male and female penguins.</h4>

<h3>Question #5</h3>
<h4>List the top 5 penguins by body mass.</h4>

In [40]:
penguins.nlargest(5, 'body_mass_g')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
169,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,male,2007
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
229,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
269,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,male,2009
231,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,male,2008

<h3>Insight #5</h3>
<h4>The table highlights the heaviest individuals in the dataset.</h4>

<h3>Question #6</h3>
<h4>What is the average bill length for female penguins with flipper length over 200 mm?</h4>

In [41]:
round(penguins[(penguins['sex'] == 'female') & (penguins['flipper_length_mm'] > 200)]['bill_length_mm'].mean(),2)

np.float64(45.36)

<h3>Insight #6</h3>
<h4>The result reveals traits of larger-bodied female penguins.</h4>

<h3>Question #7</h3>
<h4>What is the average flipper length of penguins with body mass above 5000 g?</h4>

In [42]:
round(penguins[penguins['body_mass_g'] > 5000]['flipper_length_mm'].mean(),2)

np.float64(221.07)




<h3>Insight #7</h3>
<h4>The result reveals that larger penguins tend to also have longer flippers, which might improve swimming efficiency.</h4>

<h3>Question #8</h3>
<h4>Is there a significant relationship between the penguin's flipper length and their body mass?</h4>

In [43]:
flipper_mass = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])
flipper_mass

np.float64(0.8712017673060114)






<h3>Insight #8</h3>
<h4>The result shows that the mass of the penguin is significantly affected by its flipper length.</h4>

<h3>Question #9</h3>
<h4>What is the average body mass for each combination of species and sex?/h4>

In [44]:
average_mass_by_species_sex = penguins.groupby(['species', 'sex'])['body_mass_g'].mean() 
average_mass_by_species_sex

species    sex
Adelie     female    3368.835616
           male      4013.629802
Chinstrap  female    3527.205882
           male      3938.970588
Gentoo     female    4679.741379
           male      5411.011430
Name: body_mass_g, dtype: float64


<h3>Insight #9</h3>
<h4>Clear sexual dimorphism is evident across all species, with males consistently heavier than females. Gentoo penguins are the largest species overall, with males averaging 5411g and females 4679g. The size difference between sexes is most pronounced in Gentoo penguins, suggesting stronger sexual selection pressures in this species. </h4>

<h3>Question #10</h3>
<h4>What is the combined average flipper length of species for each island?</h4>

In [45]:
average_flipper_by_island_species = penguins.groupby(['island', 'species'])['flipper_length_mm'].mean() 
print(average_flipper_by_island_species)

island     species
Biscoe     Adelie       188.795455
           Chinstrap           NaN
           Gentoo       217.055768
Dream      Adelie       189.732143
           Chinstrap    195.823529
           Gentoo              NaN
Torgersen  Adelie       191.382985
           Chinstrap           NaN
           Gentoo              NaN
Name: flipper_length_mm, dtype: float64

<h3>Insight #10</h3>
<h4>Gentoo penguins on Biscoe Island have the longest average flipper length (217.06mm), consistent with them being the largest species. Adelie penguins show slight variations across islands (188-191mm), which could indicate local adaptations or population differences. Chinstrap penguins, found only on Dream Island, have intermediate flipper lengths (196mm).</h4>

<h3>Question #11</h3>
<h4>Is there a significant relationship between the penguin's bill length and body mass?</h4>

In [46]:
bill_mass = penguins['bill_length_mm'].corr(penguins['body_mass_g'])
bill_mass

np.float64(0.5951098244376304)

<h3>Insight #11</h3>
<h4>The result indicates that there is a significant relationship between penguin's bill length and its body mass.</h4>

<h3>Question #12</h3>
<h4>Is there any difference with the body mass of each species?</h4>

In [47]:
species_mass = penguins[['species', 'body_mass_g']].groupby('species').mean()
species_mass

           body_mass_g
species
Adelie     3703.958910
Chinstrap  3733.088235
Gentoo     5068.965761

<h3>Insight #12</h3>
<h4>The results show how body mass varies across different penguin species, indicating possible biological differences..</h4>

<h3>Question #13</h3>
<h4>Is there a significant relationship between the penguin's sex and flipper length?</h4>

In [48]:
sex_flipper = penguins[['sex', 'flipper_length_mm']].groupby('sex').mean()
sex_flipper

        flipper_length_mm
sex
female         197.363636
male           204.188997

<h3>Insight #13</h3>
<h4>This analysis shows that the flipper length differs significantly between male and female penguins</h4>

<h1>Data Aggregation</h1>

<h2>How many species of penguin lived per island?</h2>

In [49]:
species_island = penguins.groupby(['species','island']).count()

species_island

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year
species   island
Adelie    Biscoe              44   44    44
          Dream               56   56    56
          Torgersen           52   52    52
Chinstrap Biscoe               0    0     0
          Dream               68   68    68
          Torgersen            0    0     0
Gentoo    Biscoe             124  124   124
          Dream                0    0     0
          Torgersen            0    0     0

<h2>How many male and female are there per specie?</h2>

In [50]:
species_sex = penguins.groupby(['species','sex']).size()
species_sex

species    sex
Adelie     female    73
           male      79
Chinstrap  female    34
           male      34
Gentoo     female    58
           male      66
dtype: int64

<h2>What is the average bill depth of species per island?</h2>

In [51]:
avr_bill_depth = penguins.groupby(['species','island'])['bill_depth_mm'].mean()
avr_bill_depth

species    island
Adelie     Biscoe       18.370455
           Dream        18.251786
           Torgersen    18.404830
Chinstrap  Biscoe             NaN
           Dream        18.420588
           Torgersen          NaN
Gentoo     Biscoe       14.999606
           Dream              NaN
           Torgersen          NaN
Name: bill_depth_mm, dtype: float64

<h1>CORRELATIONS ANALYSIS</h1>
<hr>
<h2>Testing Correlation Using Pearson R</h2>
<hr>
<h3><strong>Pearson R </strong>can test correlation between two variables, given that both variables are <strong> NUMERICAL DATA</strong></h3>

In [52]:
flipper_mass = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])
flipper_mass

np.float64(0.8712017673060114)

<h2>Testing Correlation Between Numerical and Categorical</h2>
<hr>

In [53]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

In [54]:
penguins[penguins['sex'] == 'female']['body_mass_g']

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
335    3525.0
337    3650.0
338    3650.0
340    3400.0
343    3775.0
Name: body_mass_g, Length: 165, dtype: float64

In [55]:
no_use,p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'],penguins[penguins['sex'] == 'female']['body_mass_g'])
p_value

np.float64(3.0226600487050246e-15)